body,html{height:100%;padding:0px;margin:0px;}
body {
	font-family: 'Varela Round', Arial, sans-serif;
	font-size: 100%;
	background: url(../img/señales2.jpg) repeat fixed left;
}
#cabecera {
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	height: 16%;
	background: url(../img/cuadros.png) repeat  center;
}
#img1 {
	position: absolute;
	display: inline-block;
	top:10%;
	left:3%;
	width: 15%;
}
#img1 img {
	width:100%;
	max-width: 100%;
	max-height: 100%;
}
#img2 {
	position: absolute;
	display: inline-block;
	top:10%;
	right:2%;
	width: 15%;
}
#img2 img {
	width:100%;
	max-width: 100%;
	max-height: 100%;
}
#logo {
	z-index: 4;
	position: absolute;
	display: inline-block;
	top:14%;
	left:21.5%;
	width:55%;
	padding: 1%;
	text-align: center;
	font-family: 'Ranchers', Arial, cursive;
	font-size: 6.5vw;
	border-style: solid;
	border-color: #333333;
	border-width: 3px;
	border-radius: 10px;
	background-color: white;	
}
#img3 {
	display: none;	
}
#img3 img {
	width:100%;
	max-width: 100%;
	float: right;
}
#menu {
	text-align: center;
}
ul {
	z-index:4;
	position: fixed;
	top: 16%;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #333333;
}
li {
	float: left;
}
li a {
	display: block;
	padding: 16px;
	text-align: center;
}
li a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}
li a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
li a:hover {
    color: lightblue;
    background-color: #111111;
    text-decoration: none;
}
li a:active {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}
#titulo {
	text-align: center;
	background-color: white;
}
form, #infoMarco {
	z-index: 1;
	display: block;
	position: absolute;
	top: 27%;
	left: 5%;
	width: 85%;	
	padding: 2%;
	background: url(../img/cuadros.png) repeat  center;
	background-color: white;
	border-style: solid;
	border-color: #333333;
	border-width: 2px;
	border-radius: 10px;	
}
#video {
	margin-top: 3%;
	max-width:100%;
}
h4 {
	font-size: 5vw;
    margin: 5%;
}
fieldset, #info, #comentariosNota {
	margin: 4%;
	margin-top: 8%;
	margin-bottom: 8%;
	padding: 3%;
	border-style: solid;
	border-color: #333333;
	border-width: 2px;
	border-radius: 10px;
	background-color: white;
	max-width: 100%; 
}
input[type = 'text']{
	width: 99%;
	margin-bottom:3%;
	font-family: 'Varela Round', Arial, sans-serif;
}
input[type = 'checkbox']{  
	margin-top: 10%;
}
input[type = 'radio']{  
	margin-top: 10%;
}
select {
	font-family: 'Varela Round', Arial, sans-serif;
	width: 100%;
	overflow: auto;	
	background-color: white;
}
#mult, #mult2 {	
    padding: 1% 1%;
}
option {
	margin-bottom: 4%;
}
#p3 img {	
	display:block;
	margin:auto;
	margin-top: 3%;
	height: 90%;
}
#p4 img {
	width: 100%;
	margin-top:4%;
}
#submit {
	text-align: center;
	background-color: white;
}
#botonSubmit {
    background-color: #229a65;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-style: solid;
    font-size: 16px;
	border-radius: 10px;
	border-color: #333333;
	border-width: 2px;
}
#botonSubmit:hover {
	background-color: #51cc96; 
}
#pie {
	z-index: 2;
	position: fixed;
	bottom: 0;
	display: block;
	width: 100%;
	padding: 0.5%;
	background-color: #333333;
	font-size: 0.8em;
	color: white;
}
#crono {
	z-index: 6;
	position: fixed;
	top: 14.8%;
	right: 1%;
	width: 31%;
	height: 10%;
	background-color: white;
	border-style: solid;
	border-color: #333333;
	border-width: 5px;
	border-radius: 10px;
	font-size: 8vw;
	color: #229a65;
}
#crono img {
	height: 100%;
	max-height: 90%;
	padding: 2%;
	margin-right: 2%;
}
#cronoN {
	position: absolute;
	top: 25%;
	right: 2%;
}
#nota {
	z-index: 1;
	display: none;
	position: absolute;
	top: 27%;
	left: 8%;
	width: 80%;
	min-height: 63%;	
	padding: 2%;
	background: url(../img/cuadros.png) repeat  center;
	background-color: white;
	border-style: solid;
	border-color: #333333;
	border-width: 2px;
	border-radius: 10px;
}

.fa-check:before {
    content: "\f00c"; /*Revisar si puedo quitarlo y si puedo quitar :before */
    color: mediumseagreen;
}
.fa-times:before {
    content: "\f00c";
    color: red;
}
input, select, label {    
    font-size: 5vw;
}